{% extends "base.html" %}
{% load static %}

{% block extra_title %}
Are you seeker or advisor?
{% endblock %}

{% block light_red_bg_content %}
<section class="bg">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6 text-center pt-4 pb-5">
                <h1 class="black my-3">
                    Are you looking for financial advice or are you a financial advisor?
                </h1>
                <div class="progress mt-5 mb-3">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 45%">
                        1
                    </div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 10%">
                        User type
                    </div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%">
                        3
                    </div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%">
                        4
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}

{% block white_bg_content %}
<section>
    <div class="container my-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6 text-center">

                <form method="POST">

                    {% csrf_token %}
                    {{ form.as_p }}

                    <button class="btn my-5" type="submit" aria-labelledby="Next">Next
                    </button>

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}