{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
    <div class="container">
        <div class="col-12 text-center">

            <h1 class="black mb-5">
                Are you an
                <span class="h1-red">advice seeker</span>
                or a
                <span class="h1-emphasis">financial advisor</span>?
            </h1>

            <div class="mt-4 mb-4">
                <a class="btn btn-primary" href="{% url 'seeker_signup' %}">
                    Advice Seeker
                </a>

            </div>
            <div class="mt-4 mb-4">
                <a class="btn btn-third" href="{% url 'advisor_signup' %}">
                    Financial Advisor
                </a>
            </div>

        </div>
    </div>
</section>

{% endblock %}