{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <!-- SEO metadata -->
    <meta name="description" content="Advice Found helps you find the best financial advisor in Ireland that suits your needs. Try it now.">
    <meta name="keywords" content="Find a financial advisor, financial advisor finder, financial advice Ireland">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{% url 'home' %}">

    <!-- OG tags-->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Find a Financial Advisor in Ireland | Advice Found">
    <meta property="og:description" content="Advice Found helps you find the best financial advisor in Ireland that suits your needs. Try it now.">
    <meta name="image" property="og:image" content="assets/images/advice-found-logo.png">
    <meta property="og:url" content="{% url 'home' %}">
    <meta property="og:site_name" content="Advice Found">
    <meta name="author" content="Jannis Kiriasis">
{% endblock %}

{% block extra_title %}
Find a Financial Advisor in Ireland | Advice Found
{% endblock %} 

{% block content %}
<section>
    <div class="container">
        <div class="col-12 text-center">

            <h1 class="black mb-5">
                Talk to an independent
                <span class="h1-emphasis">financial advisor</span>
                that meets your
                <span class="h1-emphasis">financial needs</span>.
            </h1>

            <div class="mt-4 mb-4">
                <a class="btn btn-primary" href="{% url 'account_login' %}">Advisors and seekers Login</a>

            </div>
            <div class="mt-4 mb-4">
                <a class="btn btn-secondary" href="{% url 'account_signup' %}">Advisors and seekers Signup</a>
            </div>

        </div>
    </div>
</section>


{% endblock %}