/* Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,800&display=swap');

/* Global styles */

:root {
    --cobalt: #04449f;
    --cobalt-medium: #d4d9ee;
    --brown: #9D3801;
    --lavander-blush: #f9e7e7;
    --caribbean-current: #296161;
    --ecru: #d4b483;
}

.container-fluid,
.row {
    --bs-gutter-x: 0;
}

body,
html,
input {
    font-family: 'Open Sans', Helvetica, sans-serif;
    overflow-x: hidden;
}

body,
html {
    height: 100%;
    font-size: 1rem;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.alert {
    border-radius: 0;
    --bs-gutter-y: 0;
    --bs-alert-margin-bottom: 0;
    --bs-alert-padding-y:0.4rem;
}

input,
select {
    height: 40px;
}

input[type="number"],
input[type="time"],
input[type="date"],
input,
select,
textarea,
.card {
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  border-radius: 0.5rem;
  background-color: #ffffff;
  border: 1px solid var(--cobalt-medium) !important;
  font-size: 1rem;
  padding: 8px;
  margin: 10px 0px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=time],
input[type=number],
select,
textarea {
    width: 100%;
}

::placeholder,
option,
input,
select,
textarea {
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color)!important;
}

.navbar-toggler:focus,
.navbar-toggler {
    max-width: min-content;
    background-color: var(--cobalt) !important;
    border: none;
}

.errorlist + p > input {
    color: var(--brown) !important;
    list-style-type: none;
    border: 2px solid var(--brown) !important;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h1 {
    color: var(--cobalt);
    font-size: 2.3rem;
}

.h1-emphasis {
    color: var(--cobalt);
    font-weight: 600;
}

.h1-red {
    color: var(--brown);
    font-weight: 600;
}

h2 {
    font-size: 2rem;
}

.black {
    color: #000000;
}

input[type=checkbox] {
    height: inherit;
    box-shadow: none;
}

label[for=id_remember] {
    display: inline-block;
}

label {
    display: none;
}

.progress-bar {
    background-color: var(--brown);
}

.progress {
    --bs-progress-bg: var(--cobalt-medium);
}

[type=submit]:not(:disabled),
.btn-primary,
.btn-secondary:hover {
    background-color: var(--brown);
    color: #ffffff !important;
    border-color: var(--brown) !important;
    border-radius: 5px;
}

[type=submit]:hover,
.btn-primary:hover,
.btn-secondary {
    color: var(--brown) !important;
    background-color: #ffffff;
    border-color: var(--brown);
    border-radius: 5px;
}

button[type=submit],
.btn {
    border-style: solid;
    width: 250px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.btn-third {
    background-color: var(--cobalt);
    color: #ffffff;
    border-color: var(--cobalt);
    border-radius: 5px;
    width: 250px;
}

.btn-third:hover {
    color: var(--cobalt);
    background-color: #ffffff;
    border-color: var(--cobalt);
    border-radius: 5px;
    width: 250px;
}

.swal2-confirm:target .swal2-styled:target .swal2-default-outline:target {
    color: #ffffff !important;
}

textarea[name=body]{
    margin: 10px;
}

.errorlist {
    color: var(--brown);
    list-style-type: none;
}

.errorlist > input {
    border-color: var(--brown);
}

/* Navigation */

nav,
.dropdown-menu,
footer {
    background-color: var(--cobalt);
    color: #ffffff;
}

.navbar-brand,
nav > div > ul > li > a,
.nav-link,
.dropdown-item {
    color: #ffffff;
    display: block;
    padding: 15px;
}

nav > div > ul > li > a:hover,
.nav-link:hover,
.dropdown-item:hover {
    text-decoration: underline;
}

#forgot-password {
    font-size: 0.8rem;
}

/* advisors/clients */

.card-clients {
    width: 18rem;
}

/* seekers/advisor/ */
/* dashboard */

.message-form-container,
.message-bg,
.match,
.bg {
    background-color: var(--lavander-blush) !important;
}

.message-box {
    max-width: 75%;
}

.message-card > p {
    height: max-content;
}

.message-form-container {
    height: 100px;
}

.small {
    font-size: 0.7rem;
    color: #5A5A5A;
}

label[for="id_body"] {
    display: none;
}

.pb-150 {
    padding-bottom: 150px;
}

#consultation-form > div > label,
#consultation-form > div > input {
    margin: 0 5px;
}

/* advisors/matches/client */

.btn:disabled {
    background-color: var(--brown);
    border-color: var(--brown);
}

/* Homepage */

.services {
    background-color: var(--lavander-blush);
}

.fa-solid {
    color: var(--cobalt);
}

.fa-circle-1,
.fa-circle-2,
.fa-circle-3,
.fa-circle-4,
.fa-circle-5 {
    color: var(--cobalt) !important;
}

.no-border {
    border-color: #ffffff;
}

.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: var(--brown);
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ffffff ;
    padding: 5px;
    transition: opacity 1s ease-in-out;
    transition-delay: 1000ms;
    margin: 5px;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}