/* Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,800&display=swap');


/* Global styles */

:root {
    --liberty: #054FB9;
    --liberty-light: #e9ecf7;
    --liberty-medium: #d4d9ee;
    --verdigris: #48a9a6;
    --dark-verdigris: #296161;
    --verdigris-light: #ecf7f7;
    --timberwolf: #f4f2f0;
    --tan: #d4b483;
    --fuzzy-wuzzy: #9D3801;
    --fuzzy-wuzzy-light: #f9e7e7;
}

body,
html {
    height: 100%;
    font-size: 1rem;
}

body,
html,
input {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    margin-top: 2.8rem;
    margin-bottom: 1.68rem;
    color: var(--liberty);
}

.h1-emphasis {
    color: var(--liberty);
    font-weight: 600;
}

.h1-red {
    color: var(--fuzzy-wuzzy);
    font-weight: 600;
}

.black {
    color: #000000;
}

input[type=text]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
select,
textarea {
    border-radius: 0.5rem;
    background-color: #ffffff;
    border: 1px solid var(--liberty-medium);
    width: 100%;
    font-size: 1rem;
    padding: 10px;
}

label {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.88);
    margin-top: 5px;
}

[type=submit]:not(:disabled),
.btn-primary {
    background-color: var(--fuzzy-wuzzy);
    color: #ffffff;
    border-color: var(--fuzzy-wuzzy);
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: var(--fuzzy-wuzzy);
    color: #ffffff;
    border-color: var(--fuzzy-wuzzy);
}

[type=submit]:hover,
.btn-primary:hover {
    color: var(--fuzzy-wuzzy);
    background-color: #ffffff;
    border-color: var(--fuzzy-wuzzy);
}

.btn-secondary {
    color: var(--fuzzy-wuzzy);
    background-color: #ffffff;
    border-color: var(--fuzzy-wuzzy);
}

.btn-third {
    background-color: var(--liberty);
    color: #ffffff;
    border-color: var(--liberty);
}

.btn-third:hover {
    color: var(--liberty);
    background-color: #ffffff;
    border-color: var(--liberty);
}

.message-container {
    position:fixed;
    top: 72px;
    right: 15px;
    z-index: 999999;
}

.errorlist {
    color: var(--fuzzy-wuzzy);
}

/* Navigation */

nav,
.dropdown-menu {
    background-color: var(--liberty);
}

.navbar-brand,
nav > div > ul > li > a,
.nav-link,
.dropdown-item {
    color: #ffffff;
    display: block;
    padding: 15px;
}

nav > div > ul > li > a:hover,
.nav-link:hover,
.dropdown-item:hover {
    color: var(--liberty);
    background-color: #ffffff;
}

#forgot-password {
    font-size: 0.8rem;
}

/* Seeker signup */

.intro {
    font-size: 1.2rem;
}
