:root {
    --liberty: #054FB9;
    --liberty-light: #e9ecf7;
    --liberty-medium: #d4d9ee;
    --verdigris: #48a9a6;
    --dark-verdigris: #296161;
    --verdigris-light: #ecf7f7;
    --timberwolf: #f4f2f0;
    --tan: #d4b483;
    --fuzzy-wuzzy: #9D3801;
    --fuzzy-wuzzy-light: #f9e7e7;
}