
{% if hide_consultation_form is True %}
<button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo" aria-labelledby="Consultation pending" disabled>
    Consultation pending
</button>
{% else %}
<button class="btn btn-primary" data-bs-toggle="collapse" aria-labelledby="Schedule consultation" data-bs-target="#demo">
    Schedule consultation
</button>
{% endif %}

<div id="demo" class="collapse mt-4">
    <form id="consultation-form" method="POST">

        {% csrf_token %}
        {{ consultation_form.as_p }}

        <button type="submit" name="consultation" class="btn btn-primary" aria-labelledby="Send consultation invite">
            Send consultation invite
        </button>

    </form>

</div>