{% extends "base.html" %}
{% load static %}


{% block extra_title %}
My clients
{% endblock %}

{% block light_red_bg_content %}
<section class="bg">
    <div class="container">
        <div class="row w-100 d-flex justify-content-center text-center">
            <div class="col-12 col-md-6">
                <div class="pt-4 pb-5">
                    <h1 class="text-center">My clients</h1>
                    <p class="text-center">
                        Here you see all the clients you have been matched.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block white_bg_content %}
<section>
    <div class="container">
        <div class="pb-5">
            <div class="row flex-row justify-content-center align-items-center my-3 mx-auto">

                {% for match in matches %}

                {% if matches_count == 0 %}
                <p>You have no clients. You will be match with advice seekers soon.</p>
                {% else %}
                <div class="card card-clients mx-1 my-1 col-md-1">

                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->

                    <div class="card-body">

                        <h2 class="card-title">
                            {{ match.seeker.user.first_name }} {{ match.seeker.user.last_name }}
                        </h2>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> -->

                    </div>

                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            Need: {{ match.seeker.need }}
                        </li>
                        <li class="list-group-item">
                            Location: {{ match.seeker.town_or_city }}
                        </li>

                    </ul>

                    <div class="card-body text-center">

                        <a href="client/{{ match.id }}" class="btn btn-outline-dark">Profile and chat</a>

                    </div>

                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>
{% endblock %}