{% extends "base.html" %}
{% load static %}


{% block extra_title %}
{{page_title}}
{% endblock %}

{% block light_red_bg_content %}
<section class="bg">
    <div class="container">
        <div class="row w-100 d-flex justify-content-center text-center">
            <div class="col-12 col-md-6">
                <div class="pt-4 pb-5">
                    <h1 class="text-center">{{ profile.business_name }}'s Profile</h1>
                    <p class="text-center">
                        Here you see all the appointments you have scheduled and their status.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block white_bg_content %}
<div>
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6 justify-content-center align-items-center mx-auto">
                <!-- Advisor profile form -->
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row d-flex justify-content-center">
                        <button class="btn mt-5 mb-5" id="update_advisor" data-url="{% url 'update_advisor' %}"
                            type="submit" aria-label="Update profile">
                            Update profile
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6 text-center">
                {% if profile.active == 1 %}

                <a href="{% url 'deactivate_profile' %}" class="btn btn-secondary" id="deactivate_advisor"
                aria-label="Deactivate profile">Deactivate profile</a>

                {% else %}

                <a href="{% url 'deactivate_profile' %}" class="btn btn-secondary" id="deactivate_advisor"
                aria-label="Deactivate profile">Activate profile</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}