{% extends "base.html" %}
{% load static %}


{% block extra_title %}
{{page_title}}
{% endblock %}

{% block light_red_bg_content %}
<div class="pt-4 pb-5">
    <h1 class="text-center">{{ profile.business_name }}'s Profile</h1>
    <p class="text-center">
        Here you see all the appointments you have scheduled and their status.
    </p>
</div>
{% endblock %}

{% block white_bg_content %}
<div class="py-5 col-12 col-md-6 justify-content-center align-items-center mx-auto">

    <!-- Advisro signup form -->
    <form method="POST">

        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn mt-5 mb-5" id="update_advisor" data-url="{% url 'update_advisor' %}" type="submit">
            Update profile
        </button>

    </form>

    {% if profile.active == 1 %}

    <a href="{% url 'deactivate_profile' %}" class="btn btn-secondary" id="deactivate_advisor"
        aria-label="Deactivate profile">Deactivate profile</a>

    {% else %}

    <a href="{% url 'deactivate_profile' %}" class="btn btn-secondary" id="deactivate_advisor"
        aria-label="Deactivate profile">Activate profile</a>

</div>

{% endif %}

{% endblock %}