{% extends "base.html" %}
{% load static %}

{% block extra_title %}
Financial Advisor Signup
{% endblock %}

{% block light_red_bg_content %}

<section class="bg">
    <div class="container">
        <div class="row w-100 d-flex justify-content-center text-center pt-4 pb-5">
            <div class="col-12 col-md-6">

                <h1>Advisor signup</h1>

                <div class="progress mt-5 mb-3">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 30%">
                        1
                    </div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 30%">
                        2
                    </div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 35%">
                        Your details
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block white_bg_content %}

<div>
    <div class="container py-5">
        <div class="row w-100 d-flex justify-content-center text-center">
            <div class="col-12 col-md-6">

                <!-- Advisor signup form -->
                <form method="POST">

                    {% csrf_token %}
                    {{ form.as_p }}

                    <button class="btn mb-4" type="submit" aria-label="Complete signup">Complete signup
                    </button>

                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}