{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
500 server error
{% endblock %}

{% block white_bg_content %}

<section>
    <div class="container">
        <div class="row w-100 d-flex justify-content-center text-center">
            <div class="col-12 col-md-6">
                <div class="my-auto">
                    <h1 class="display-4">
                        You have incontered a server error.
                    </h1>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'home' %}" class="btn btn-secondary">
                                Return to homepage
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}