<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Advice Found</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-end">
            {% if user.is_authenticated %}

                {% if request.user.profiles.user_type == 0 %}

                    {% if request.user.users %}

                        <li class="nav-item"><a class="nav-link px-3" href="{% url 'consultations' %}" aria-label="Appointments">Appointments</a></li>
                        <li class="nav-item"><a class="nav-link px-3" href="{% url 'clients' %}" aria-label="Clients">Clients</a></li>
                        <li class="nav-item"><a class="nav-link px-3" href="{% url 'advisor_profile' %}" aria-label="Profile">Profile</a></li>
                        <li class="nav-item"><a class="nav-link px-3" href="{% url 'account_logout' %}" aria-label="Logout">Logout</a></li>

                    {% else %}

                        <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}" aria-label="Logout">Logout</a></li>

                    {% endif %}

                {% elif request.user.profiles.user_type == 1 %}
                
                    {% if request.user.seekers %}

                        <li class="nav-item"><a class="nav-link" href="{% url 'advisor' %}" aria-label="Advisor">Advisor</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'seeker_profile' %}" aria-label="Profile">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}" aria-label="Logout">Logout</a></li>

                    {% else %}

                        <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}" aria-label="Logout">Logout</a></li>

                    {% endif %}

                {% elif not request.user.profiles %}

                <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}" aria-label="Logout">Logout</a></li>

                {% endif %}

            {% else %}

                <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}" aria-labelledby="Register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}" aria-labelledby="Login">Login</a></li>

            {% endif %}
        </ul>
      </div>
    </div>
  </nav>