{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_meta %}
    <!-- SEO metadata -->
    <meta name="description" content="To reset your Advice Found password, follow the procedure on this page.">
    <meta name="keywords" content="Reset password Advice Found, Reset Advice Found password">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{% url 'account_password_set' %}">

    <!-- OG tags-->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Reset Login Password | Advice Found">
    <meta property="og:description" content="To reset your Advice Found password, follow the procedure on this page.">
    <meta name="image" property="og:image" content="assets/images/advice-found-logo.png">
    <meta property="og:url" content="{% url 'account_password_set' %}">
    <meta property="og:site_name" content="Advice Found">
    <meta name="author" content="Jannis Kiriasis">
{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
