{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" 
    href="{% static 'favicon.ico' %}">

    <title>{% block extra_title %}{% endblock %} | Advice Found</title>
</head>

<body class="d-flex flex-column min-vh-100">

    {% block page_header %}
    <header>
        {% include 'includes/navigation.html' %}
    </header>
    <div class="bg container-fluid p-0">
        {% if messages %}
        {% for message in messages %}
        {% include 'includes/toasts/toast.html' %}
        {% endfor %}
        {% endif %}
    </div>
    {% endblock %}

    {% block light_red_bg_content %}
    {% endblock %}

    {% block white_bg_content %}
    {% endblock %}

    <footer class="py-3 container-fluid mt-auto">
        <div class="row">
            <div class="col d-flex flex-column justify-content-center">
                <p class="text-center">© 2023 Advice Found</p>
                <a href="https://res.cloudinary.com/dyl7p4jev/image/upload/v1678487229/AF_facebook_page_ejda5g.png"
                    class="mx-auto my-2" target="_blank" aria-label="Facebook">
                    <i class="fa-brands fa-facebook fa-xl text-white"></i>
                </a>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/ee196b5910.js" 
    crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Sweet alert script - To use Sweet alerts (Swal.fire in JS files) -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% endblock %}

</body>

</html>