{% extends "base.html" %}
{% load static %}

{% block extra_title %}
My advisor
{% endblock %}

{% block light_red_bg_content %}
<section class="bg">
    <div class="container">
        <div class="row w-100 d-flex justify-content-center text-center">
            <div class="col-12 col-md-6">
                <div class="match pt-4 pb-5">

                    {% if not match %}
                    <h1 class="mt-5 text-center">
                        Your advisor
                    </h1>
                    {% else %}

                    <div class="h-100 d-flex flex-column justify-content-center align-items-center">

                        <h1 class="text-center">Your Advisor
                        </h1>

                        <div class="card text-center">
                            <div class="card-body">
                                <h2 class="card-title pb-2">{{ match.advisor.business_name }}</h2>
                                <p class="card-text"><span class="fw-bold">Location:
                                    </span>{{ match.advisor.town_or_city }}</p>
                                <p class="card-text"><span class="fw-bold">Specialisation:</span>
                                    {{ match.advisor.specialisation }}
                                </p>
                                <p class="card-text">{{ match.advisor.business_description }}.</p>
                            </div>

                        </div>

                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block white_bg_content %}

{% if not match %}
<section>
    <div class="container">
        <div class="row w-100 d-flex justify-content-center text-center">
            <div class="col-12 col-md-6">
                <p class="mt-5 text-center">
                    You don't have an advisor yet. Go to
                    <a href="{% url 'match' %}" aria-label="Matching page">the matchign page</a>
                    to see all the advisors availalbe.
                </p>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if not elements %}
{% else %}

<section>
    <div class="container pb-150">
        <div class="row w-100 d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-6">

                <div class="my-5">
                    <h2 class="text-center">Messages
                    </h2>
                </div>

                <!-- Iterate through elements list -->

                {% for el in elements %}

                <div class="justify-content-between">
                    <div class="comment-form flex-column">
                        <!-- If the element in the list has a user value,
                        it must be a note -->

                        {% if el.user %}
                        <!-- If the note is from the requester do this -->
                        {% if el.user == request.user %}
                        <div class="row text-end justify-content-end">

                            <div class="col-auto">
                                <div class="text-start card message-card message-bg">
                                    <p>{{ el.body }}</p>
                                    <p>
                                        <span class="small">
                                            {{ el.created_on }}
                                        </span>
                                    </p>
                                </div>
                            </div>

                        </div>
                        <!-- If the note is not from the requester do this -->
                        {% elif el.user != request.user %}
                        <div class="row text-start justify-content-start">

                            <div class="col-auto">
                                <div class="text-start card message-card">
                                    <p>{{ el.body }}</p>
                                    <p>
                                        <span class="small">
                                            {{ el.created_on }}
                                        </span>
                                    </p>
                                </div>
                            </div>

                        </div>
                        {% endif %}
                        <!-- If the el.user is not true, 
                        the element in the list must be a consultation, 
                        so do this -->
                        {% else %}
                        <div class="row text-start justify-content-start">
                            <div class="col-auto">
                                <div class="text-start py-4 card message-card">
                                    <p class="fw-bold">Consultation:</p>
                                    <p><span class="fw-bold">date:</span>
                                        {{ el.date }}
                                    </p>
                                    <p><span class="fw-bold">Time:</span>
                                        {{ el.time }}
                                    </p>
                                    <p><span class="fw-bold">Fee:</span>
                                        {{ el.price }}
                                    </p>
                                    {% if el.status == 0 %}
                                    <a class="btn btn-primary mt-2" href="{% url 'checkout' %}"
                                        aria-label="Confirm consultation">
                                        Confirm consultation
                                    </a>
                                    {% else %}
                                    <a class="btn btn-primary mt-2" href="{{ el.link }}" target="_blank" rel="nofollow"
                                        aria-label="Start meeting">
                                        Start meeting
                                    </a>
                                    {% endif %}
                                    <p>
                                        <span class="small">
                                            {{ el.created }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                {% endfor %}
                {% endif %}

                {% if not match %}
                {% else %}
                <div class="fixed-bottom bg">
                    <div class="container">
                        <div class="row h-100 py-1">
                            <form method="POST" class="row justify-content-center align-items-center">
                                {% csrf_token %}
                                <div class="col-12 col-md-9">
                                    {{ message_form.as_p }}
                                </div>
                                <div class="col-12 col-md-3 d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary send" aria-label="Send">
                                        Send
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}