{% extends "base.html" %}
{% load static %}


{% block extra_title %} 
    {{page_title}}
{% endblock %}


{% block page_header %}
{% endblock %}


{% block content %}

<section>
    <div class="match pb-5">

        <div class="container container-xxl h-100 d-flex flex-column justify-content-center align-items-center">

            <div class="col-12">
                <h1 class="text-center">Your Advisor
                </h1>

            </div>

            <div class="card text-center col-6">
                <div class="card-body">
                    <h2 class="card-title pb-2">{{ match.advisor.business_name }}</h2>
                    <p class="card-text"><span class="fw-bold">Location: </span>{{ match.advisor.town_or_city }}</p>
                    <p class="card-text"><span class="fw-bold">Specialisation:</span> {{ match.advisor.specialisation }}</p>
                    <p class="card-text">{{ match.advisor.business_description }}.</p>
                </div>
                
            </div>

        </div>


    </div>

    <div class="container container-xxl h-100 d-flex flex-column justify-content-center align-items-center pb-5">

        <div class="col-12 mt-5 mb-5">
            <h2 class="text-center">Messages
            </h2>
        </div>

        {% for message in messages %}

        <!-- Send messages -->
        <div class="row">
            <!-- Section for comments form -->
            <div class="col-12">
                <div class="comment-form flex-row">



                </div>
            </div>
        </div>
 
        {% endfor %}

        <div class="fixed-bottom">

            <div class="row">
                <div class="col message-form-container">

                    <form method="POST" class="container container-xxl h-100 d-flex flex-row justify-content-center align-items-center">

                        {% csrf_token %}
                        {{ message_form }}

                        <button type="submit" class="btn btn-primary">
                            Send
                        </button>

                    </form>

                </div>
            </div>
    
    </div>
        



    </div>

</section>

{% endblock %}